<p>Registration Page - Form</p>

<form action="{% url 'Store:register_user' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username_input" name="username" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password_input" name="password">
    </div>
    <div class="mb-3">
        <label for="password_confirmation" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password_input" name="password_confirmation">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>